.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.preloader .logo img {
    display: block;
    margin: 0px auto;
}

.loader {
    display: block;
    margin: 0px auto;
    margin-top: 3%;
}

::ng-deep .mat-spinner circle {
    stroke: #009BCB !important;
}